# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

/ips-api/dist
/ips-api/tmp
/ips-api/out-tsc
/ips-api/bazel-out

/ips-ui/dist
/ips-ui/tmp
/ips-ui/out-tsc
/ips-ui/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

/ips-api/node_modules
/ips-api/npm-debug.log
/ips-api/yarn-error.log

/ips-ui/node_modules
/ips-ui/npm-debug.log
/ips-ui/yarn-error.log

# IDEs and editors
.vscode/
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

/ips-api/.idea/
/ips-api/.project
/ips-api/.classpath
/ips-api/.c9/
/ips-api/*.launch
/ips-api/.settings/
/ips-api/*.sublime-workspace

/ips-ui/.idea/
/ips-ui/.project
/ips-ui/.classpath
/ips-ui/.c9/
/ips-ui/*.launch
/ips-ui/.settings/
/ips-ui/*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

/ips-api/.vscode/*
/ips-api/!.vscode/settings.json
/ips-api/!.vscode/tasks.json
/ips-api/!.vscode/launch.json
/ips-api/!.vscode/extensions.json
/ips-api/.history/*

/ips-ui/.vscode/*
/ips-ui/!.vscode/settings.json
/ips-ui/!.vscode/tasks.json
/ips-ui/!.vscode/launch.json
/ips-ui/!.vscode/extensions.json
/ips-ui/.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

/ips-api/.angular/cache
/ips-api/.sass-cache/
/ips-api/connect.lock
/ips-api/coverage
/ips-api/libpeerconnection.log
/ips-api/testem.log
/ips-api/typings

/ips-ui/.angular/cache
/ips-ui/.sass-cache/
/ips-ui/connect.lock
/ips-ui/coverage
/ips-ui/libpeerconnection.log
/ips-ui/testem.log
/ips-ui/typings

# System files
.DS_Store
Thumbs.db

/ips-api/.DS_Store
/ips-api/Thumbs.db

/ips-ui/.DS_Store
/ips-ui/Thumbs.db
