<div class="wrapper">
  <!-- Navbar -->
  <app-header></app-header>
  <!-- /.navbar -->

  <app-sidebar></app-sidebar>

  <div class="content-wrapper">
    <section class="content">
      <div class="container-fluid">
        <app-top-highlights></app-top-highlights>

        <div class="row">
          <div class="col-md-5">
            <app-weather-forecast></app-weather-forecast>
          </div>

          <div class="col-md-7">
            <app-to-do-list></app-to-do-list>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
