<div class="card">
  <div class="card-header bg-dark">
    <h3 class="card-title">
      <i class="ion ion-clipboard mr-1"></i>
      To Do List
    </h3>

    <div class="card-tools">
      <button type="button" class="btn btn-tool" data-card-widget="collapse">
        <i class="fas fa-minus"></i>
      </button>

      <button type="button" class="btn btn-tool" data-card-widget="remove">
        <i class="fas fa-times"></i>
      </button>
    </div>
  </div>
  <!-- /.card-header -->

  <div class="card-body">
    <div class="form-group">
      <form role="form" (ngSubmit)="newToDoItem()">
        <div class="input-group mb-2">
          <input
            class="form-control"
            type="text"
            name="title"
            [(ngModel)]="_toDoListModel.title"
          />

          <div class="input-group-append">
            <button type="submit" class="btn btn-dark">
              <i class="fas fa-plus"></i>
            </button>
          </div>
        </div>

        <small class="alert-danger p-2 rounded" *ngIf="_validateField"
          >Please insert a valid title for to do list item.</small
        >
      </form>
    </div>

    <ul class="todo-list" data-widget="todo-list">
      <li *ngFor="let item of this._toDoList">
        <!-- checkbox -->
        <div class="icheck-primary d-inline ml-2">
          <input
            type="checkbox"
            value=""
            [checked]="item.completed"
            (change)="updateToDoItem(item.id)"
            id="{{ item.id }}"
          />
          <label for="{{ item.id }}"></label>
        </div>

        <!-- todo text -->
        <span class="text">{{ item.title }}</span>

        <!-- General tools such as edit or delete-->
        <div class="tools">
          <i class="fas fa-times" (click)="deleteToDoItem(item.id)"></i>
        </div>
      </li>
    </ul>
  </div>
  <!-- /.card-body -->
</div>
