<div class="card weather">
  <img
    src="../../../../../assets/dist/img/sky.jpg"
    alt="Card image cap"
    class="card-img-top"
  />
  <div class="card-img-overlay">
    <h2 class="no-margin">Canberra, Australia</h2>

    <p class="card-text">
      TODAY
      {{
        this._weatherData.current_weather
          ? (this._weatherData.current_weather.time | date : "dd.MM.yyyy")
          : ""
      }}
    </p>

    <div class="row">
      <div class="col-6 text-center">
        <!-- <canvas skycon="" width="90" height="90"></canvas> -->
        <i
          class="fas fa-cloud-sun-rain text-white"
          style="line-height: 1.5; font-size: 70px"
        ></i>
      </div>

      <div class="col-6 text-center">
        <div class="current-temperature">
          {{
            this._weatherData.current_weather
              ? this._weatherData.current_weather.temperature
              : "0"
          }}°
        </div>
        <div class="degree">C</div>
      </div>
    </div>

    <div class="row">
      <div class="col-6 text-center">
        <span
          ><i class="fa fa-flag"></i>
          {{
            this._weatherData.current_weather
              ? this._weatherData.current_weather.windspeed
              : "0"
          }}
          km/h</span
        >
      </div>

      <div class="col-6 text-center">
        <span><i class="fa fa-tint"></i> 59 %</span>
      </div>
    </div>
  </div>

  <div class="card-body">
    <div class="row line">
      <div class="col-4 text-left text-truncate">Sunday</div>

      <div class="col-4 text-center">
        <canvas skycon="" width="22" height="22"></canvas>
      </div>

      <div class="col-4 text-right">18° / 22°</div>
    </div>

    <div class="row line">
      <div class="col-4 text-left text-truncate">Monday</div>

      <div class="col-4 text-center">
        <canvas skycon="" width="22" height="22"></canvas>
      </div>

      <div class="col-4 text-right">14° / 16°</div>
    </div>

    <div class="row line">
      <div class="col-4 text-left text-truncate">Tuesday</div>

      <div class="col-4 text-center">
        <canvas skycon="" width="22" height="22"></canvas>
      </div>

      <div class="col-4 text-right">8° / 12°</div>
    </div>

    <div class="row line">
      <div class="col-4 text-left text-truncate">Wednesday</div>

      <div class="col-4 text-center">
        <canvas skycon="" width="22" height="22"></canvas>
      </div>

      <div class="col-4 text-right">4° / 6°</div>
    </div>

    <div class="row line">
      <div class="col-4 text-left text-truncate">Thursday</div>

      <div class="col-4 text-center">
        <canvas skycon="" width="22" height="22"></canvas>
      </div>

      <div class="col-4 text-right">-1° / 3°</div>
    </div>

    <div class="row line">
      <div class="col-4 text-left text-truncate">Friday</div>

      <div class="col-4 text-center">
        <canvas skycon="" width="22" height="22"></canvas>
      </div>

      <div class="col-4 text-right">-3° / -1°</div>
    </div>

    <div class="row line">
      <div class="col-4 text-left text-truncate">Saturday</div>

      <div class="col-4 text-center">
        <canvas skycon="" width="22" height="22"></canvas>
      </div>

      <div class="col-4 text-right">-1° / 2°</div>
    </div>
    <!---->
  </div>
</div>
